# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
# Includes
#####################################################################
[include mainsail.cfg]
[include configs/*]
[include gcode/*]

#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_52002F000C50415833323420-if00
restart_method: command

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4A001C000450315741363420-if00

#[mcu btt_adxl345]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_504450612895551C-if00

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 5000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

[idle_timeout]
timeout: 1800

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.265
#*# pid_ki = 9.608
#*# pid_kd = 23.833
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.473
#*# pid_ki = 0.760
#*# pid_kd = 1409.306
#*#
#*# [input_shaper]
