[gcode_macro DIAGONAL_MOVEMENT_TEST]
description: Test
gcode:

  {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
  {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
  {% set iterations = params.ITERATIONS|default(5)|int %}
  {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}

  # Restore old GCode state
  SAVE_GCODE_STATE NAME=TEST_SPEED
  { action_respond_info("DIAG_MOVEMENT_TEST: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }

  # Set new limits
  {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
      SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
  {% else %}
      SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
  {% endif %}

  G1 X182.5 Y182.5 F6000

  # Test first direction
  {% for i in range(iterations) %}
    G1 X0 Y0 F{speed*60}
    G1 X365 Y365 F{speed*60}
  {% endfor %}
  
  # Test second directions
  {% for i in range(iterations) %}
    G1 X0 Y365 F{speed*60}
    G1 X365 Y0 F{speed*60}
  {% endfor %}

  G1 X182.5 Y182.5 F6000

  # Restore old limits
  {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
      SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
  {% else %}
      SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
  {% endif %}

  # Restore old GCode state
  RESTORE_GCODE_STATE NAME=TEST_SPEED
